#login-page,
#signup-page,
#support-page {
  h1 {
    font-size: 2.15rem;
    margin-top: 2.8rem;
    letter-spacing: 0.15rem;
    color: var(--ion-color-medium);
  }
  h2 {
    font-size: 1.5rem;
    color: var(--ion-color-primary);
    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0;
      height: 3.125rem;
      width: 8rem;
      border-radius: 0 1.5625rem 1.5625rem 0;
      background: var(--ion-color-primary-shade);
      z-index: -1;
    }
  }
  .container__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.9375rem;
  }
  ion-row {
    margin: 4.6875rem 0;
  }
}
